<table cellspacing=0 style="width: 100%;">
  <tr>
    <td style="color: #a3a3a3;"><b>Date</b></td>
    <td style="color: #a3a3a3;"><b># Nights</b></td>
    <td style="color: #a3a3a3;"><b>Site #</b></td>
    <td style="color: #a3a3a3;"><b>Reserve</b></td>
  </tr>
  <% availabilities.each do |av| %>
  <tr>
    <td ><%= av.date_start.strftime('%b %e, %Y') %></td>
    <td ><%= av.days_length %></td>
    <td ><%= av.site %></td>
    <td >
      <a href="<%= av.reserve_url %>" style="color: #FFF; text-decoration: none; line-height: 2; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 12px; background-color: #77b57a; margin: 3px 0; border-color: #77b57a; border-style: solid; border-width: 2px 12px;">Reserve Now</a>
    </td>
  </tr>
  <% end %>
</table>
