@import 'normalize-css';
@import 'bourbon';
@import 'base/base';

// $medium-screen: em(640);
// $large-screen: em(860);
//
// $medium-screen-up: new-breakpoint(min-width $medium-screen 4);
// $large-screen-up: new-breakpoint(min-width $large-screen 8);


@import 'neat';
@import 'font-awesome';

@import 'ngQuickDate';

@import 'angucomplete-alt';

.wrap {
  section {
    //background-color: $wrap-background-color;
    //padding: 10px;
  }
}

section {
  @include outer-container;

  .card {
    @include span-columns(6);
    @include shift(3);
  }

}

#availability_request_new {
  margin-top: 1em;


  .half {
    @include span-columns(3 of 6);
  }
  .third {
    @include span-columns(2 of 6);
  }

  .row {
    @include row();
  }
}

#availability_request_list {
  margin-top: 1em;

  .card {
    @include span-columns(12);
  }

}

.nav {
  background-color: #77b57a;
  border-color: #13674c;
  .nav-inner {
    @include outer-container;
    padding: 6px 0;
    a {
      color: #fff;
      font-weight: bold;
    }
  }
}

.cards {
  @include clearfix;
}

.arn {
  //@include span-columns(6);
}

.card {
  //@include shift(1);
  @include span-columns(6);
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10);
  $card-header-background: #fff; //$card-background;
  $card-hover-background: lighten($card-background, 5);
  $card-image-background: #DBD199;
  $card-image-hover-background: lighten($card-image-background, 5);
  $card-stats-color: lighten($base-accent-color, 10);

  @include transition (all 0.2s ease-in-out);
  background-color: #fff; //$card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  margin-bottom: $base-line-height;
  box-shadow: 0 2px 4px darken($base-background-color, 10);
  position: relative;

  padding: $base-line-height/2 $gutter/2;

  // @include media($large-screen) {
  //   @include span-columns(6);
  // }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    padding: $base-line-height/3 $gutter/2;
  }

  .card-copy {
    p {
      font-size: $base-font-size * 1.1;
    }
    //line-height: 1.5em;
  }

}
