%footer
  .footer-content
    %a{ href: 'http://wanderinglabs.com' }Wandering Labs
    is a creation of
    %a{ href: 'http://tiwatson.com' }Tim Watson
    %br/
    %br/
    %small
      Wandering Labs is not affiliated with, maintained by, or in any way officially connected with Reserve America or Active Network.
