!!!
%html{ 'ng-app' => 'wl_availability' }
  %head
    %title{ 'ng-bind' => "page.title" }
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{}

    -#= render 'layouts/header'
    %h1 WL Availability
    
    = yield

    -#= render 'layouts/footer'
